/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* header */
.header{
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    -webkit-animation-name: slide;
            animation-name: slide;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
}
.header-div{
    width: 100%;
    height: 60px;
    background-color: rgba(121, 141, 255, 0.849);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0px;
    z-index: 10;
}
.logo{
    font-size: 35px;
    color: #fff;
    margin-left: 35px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-family: 'Josefin Sans';
}
.logo:hover{
    color:rgba(2, 14, 85, 0.849) ;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.nav-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 30px;
}
.li-a{
    font-size:17px;   
     color: #fff;
     font-family: 'Roboto';
    }
.lia{
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto';

}
.lia:hover{
    -webkit-box-shadow: 2px 5px 10px 5px;
            box-shadow: 2px 5px 10px 5px;
    padding: 5px;
}
.active{
    border-bottom: solid 2px #fff;
}

/* footer */
.footer{
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(85, 134, 177);
    margin-top: 10%;
}
.social-divblock{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 200px;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.footerli{
    color:rgb(7, 7, 156);
    margin-top: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.footerli:hover{
    color: #fff;
}
.ulli{
    margin-top: 7px;
}
.ul-li{
    margin-top: 5px;
}
.li-add{
    margin-bottom: 15px;
}
.li-h5{
    color: rgb(238, 236, 236);
    font-family: 'Roboto';

}
.footerdiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    width: 100%;
    height: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding-top: 30px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: darkgray;
    margin-top: 30px;
}
.a-social{
    color: rgb(79, 17, 250);
    font-size: 30px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.a-social:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: rgb(3, 24, 61);
}
.footer-p{
    margin: 0 auto; 
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';

}
body::-webkit-scrollbar {
    width: 15px;             
  }
  
body::-webkit-scrollbar-track {
    background: rgb(211, 208, 208); 
  }
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(121, 141, 255, 0.849);
    border-radius: 20px;
    border: 3px solid rgb(85, 134, 177);
  }

/* burger */
.burgerdiv{
    width: 25px;
    position:fixed;
    top: 17px;
    right: 10px;
    z-index: 11;
}

.burger{
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin-top: 5px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.burgerdiv{
    display: none;
}
.burger{
    display: none;
}
.burgerdiv.act .burger:nth-child(1){
    -webkit-transform:translateY(7px) rotate(45deg) ;
        -ms-transform:translateY(7px) rotate(45deg) ;
            transform:translateY(7px) rotate(45deg) ;
}
.burgerdiv.act .burger:nth-child(2){
    opacity: 0;
}
.burgerdiv.act .burger:nth-child(3){
    -webkit-transform:translateY(-7px) rotate(-45deg);
        -ms-transform:translateY(-7px) rotate(-45deg);
            transform:translateY(-7px) rotate(-45deg);
}

/* section 1 */
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-child{
    width: 280px;
    height: 400px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 0;
}
.container-child:hover{
    -webkit-transform: scale(1.06,1.06);
        -ms-transform: scale(1.06,1.06);
            transform: scale(1.06,1.06);
}
.img-block{
    width: 280px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
}
.location-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}
.country{
    margin-left: 8px;

}
.place{
    margin-top: 10px;
    font-family: 'Roboto';
}
.price{
    margin-top: 10px;
}
.title{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}
.linediv{
    width: 40px;
    height: 2px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 20px;
}
/* section 2 */
.wraper{
    /* max-width: 900px; */
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
    margin-top: 10%;
    background-color: #1A374D;
    
}
.numbers{
    font-size: 45px;
    color: rgb(255, 255, 255);
}
.travelers{
    margin-top: 20px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';


}

/* section 3 */
.wraper-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 900px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.imgblock{
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 250px;
}

.img1{
    max-width: 400px;
    width: 100%;
    height: 250px;
    right: 1px;
    position: absolute;
    z-index: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 5px #ecf8fc;
            box-shadow: 5px #ecf8fc;
    border-radius: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.img2{
    position: absolute;
    top: 30px;
    z-index: 1;
    width: 300px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    right: 40%;
    -webkit-box-shadow: 5px #ecf8fc;
            box-shadow: 5px #ecf8fc;
    border-radius: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.img3{
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    right: 20%;
    top: 40%;
    -webkit-box-shadow: 5px #ecf8fc;
            box-shadow: 5px #ecf8fc;
    border-radius: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.immage{
    max-width: 450px;
    width: 100%;
    height: 320px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 5px #ecf8fc;
            box-shadow: 5px #ecf8fc;
    border-radius: 5px;
    z-index: 8;
}
.img1:hover{
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
}
.img2:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
.img3:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
.waterfall-title{
    font-size: 30px;
    width: 350px;
    font-family: 'Josefin Sans';
    color: rgb(44, 43, 42);

}
.waterfall-descr{
    width: 300px;
    margin-top: 30px;
    font-family: 'Roboto';
}

/* touch section */
.touch-wraper{
    width: 100%;
    height: 250px;
    background-color: #1A374D;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10%;
}
.touchtitle{
    font-size: 40px;
    color: white;
    font-family: 'Josefin Sans';
}
.touchdiv{
    width: 120px;
    height: 50px;
    border-radius: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid white;
    color: #fff;
    margin-top: 30px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-weight:500;
    font-family: 'Roboto';
}
.touchdiv:hover{
    background-color:#fff;
    color:#1A374D ;
}
/* form */
.formdiv{
    width: 100%;
    margin: 0 auto;
    height: 400px;
    margin-top: 15%;
    background-color:#1A374D;
    opacity: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.lname{
    width: 200px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: #1A374D ;
    height: 25px;
}

.errortext{
    width: 220px;
    display: inline-block;
}
.erortext{
    margin-left: 5%;
}

.namespan{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.lnamespan{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.lastn{
    margin-left: 15px;
}
.email{
    max-width: 440px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #fbfbfc;
    background-color: #1A374D ;
    height: 25px;

}
.form{
    max-width: 440px;
    width: 100%;
}
.number{
    max-width: 440px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #fdfeff;
    background-color: #1A374D ;
    height: 25px;
}
.text{
    margin-top: 10px;
    resize: none;
    max-width: 440px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: #1A374D ;
    height: 25px;
}

.name{
    margin-top: 20px;
}
.button{
    margin-top: 20px;
    border-radius: 36px;
    width: 150px;
    height: 40px;
    background: #fff;
    border: 1px solid #1A374D;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.button:hover{
    background-color:#1A374D ;
    color: #fff;
}
::-webkit-input-placeholder{
    color: rgb(255, 255, 255);
    font-size: 13px;
}
::-moz-placeholder{
    color: rgb(255, 255, 255);
    font-size: 13px;
}
:-ms-input-placeholder{
    color: rgb(255, 255, 255);
    font-size: 13px;
}
::-ms-input-placeholder{
    color: rgb(255, 255, 255);
    font-size: 13px;
}
::placeholder{
    color: rgb(255, 255, 255);
    font-size: 13px;
}
/* list */
.list-div{
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10%;
}
.list{
    font-size: 30px;
    margin-top: 20px;
}
.ul-list{
    margin-left: 35px;
}
.li-list{
    font-size: 28px;
    color:#1A374D;
    font-family: 'Josefin Sans';
}
.maillist{
    margin-bottom: 18%;
}
.maplist{
    margin-top:18%;
}

.map{
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    margin-top: 10%;
}
.iconlist{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #1A374D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.iconlist:hover{
    background-color:#1A374D ;
    color: #fff;
}
/* slider */
.dot{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

}
.dots{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 8px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 200px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.currentdot{
    opacity: 70%;
    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);
}
@-webkit-keyframes slide {
    from {opacity: .4} 
    to {opacity: 1}
  }
@keyframes slide {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* slider 2 */
  .imageblocks{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: none;
  }
  .blockimg{
      max-width: 400px;
      width: 100%;
      height: 500px;
      -o-object-fit: cover;
         object-fit: cover;
  }

  /* slider 3 */
  .slidedot{
      width: 15px;
      height: 15px;
      background-color: #fff;
      border-radius: 50%;
      margin-bottom: 15px;
  }
  .slider{
      max-width: 600px;
      width: 100%;
      height: 450px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      -webkit-animation-name: slide;
              animation-name: slide;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
      border-radius: 10px;
  }
  .slide-block{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
      margin-top: 15%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align:end;
          -ms-flex-align:end;
              align-items:flex-end;
  }
  .about-li{
      margin-top: 20px;
      font-size: 20px;
      font-family: 'Roboto';
  }
  .ullis{
      list-style:circle;
      margin-left: 18px;
  }
  .abouttitle{
    font-size: 35px;
  }
  .aboutlinediv{
    width: 40px;
    height: 2px;
    background-color: #000;
    margin-top: 20px;
  }
  .listdiv{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-box-pack:start;
          -ms-flex-pack:start;
              justify-content:flex-start;
  }
  .cities{
      position: absolute;
      top: 10%;
      left: 50%;
      -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
              transform: translate(-50%);
      font-size: 40px;
      color: rgb(255, 255, 255);
      font-weight: bold;
  }

  /* testimonials */
  .testimonials{
      width: 100%;
      height: 500px;
      background-color: rgba(230, 228, 228, 0.815);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
  }
  .teamimages{
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;

  }
  .teamtitle{
      text-align: center;
      margin-top: 20px;
      font-size: 25px;

  }
  .teamdescr{
      max-width: 400px;
      width: 100%;
      margin-top: 14px;
      font-size: 17px;
      text-align: center;
      font-family: 'Roboto';
  }
  .testt{
      text-align: center;
      font-size: 35px;
  }
  .testdiv{
      margin-top:15px;
      width: 50px;
      height: 2px;
      background-color: #000;
  }
  .team-block{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 10%;
  }
  .circle{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .currentcircle{
      background-color: #000;
      opacity: 70%;
  }
  .circles{
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100px;
      bottom: 1px;
  }

  /* accordeon */
  .accordeon{
      max-width: 1220px;
      width: 100%;
      margin: auto;
      margin-top: 15%;
  }
  .accordion{
    font-size: 25px;
    color:#ffffff;
    background-color: rgba(121, 141, 255, 0.849);
    width: 280px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 15px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    margin-left: 15px;
    border-radius: 20px;
  }
  .back{
      opacity: 70%;
  }
  .accord-title{
      margin-top: 30px;
      text-align: center;
  }
  .accord-descr{
      width: 280px;
      font-size: 17px;
      text-align: center;
      margin-top: 15%;
      height: 0;
      overflow: hidden;
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s;
      font-family: 'Roboto';
  }
  .accord.acctive .accord-descr{
      height: 100px;
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s;
}
.accordion:hover{
    background-color: #1A374D ;
}
/* ajax */
.teamblock{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    flex-wrap: wrap;
}
.teamclass{
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.teamimmages{
    margin-top: 25px;
    width: 200px;
    border-radius: 50%;
}
.paragraph{
    font-size: 20px;
    font-family: 'Roboto';
}
